{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Control de Inventario" name="Alejandro Alvarado" />

    <title>{{heading}} | Argos Panama, S.A.</title>
    
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'images/LOGO CHICO.png' %}">
    <!-- App EXTRA css -->
    {% block extra_css %} 
    <!-- Lib y jQuery para el nivel de Tanques, No se por que debe ir en el Base,
      sera que debe ir en el area del HEAD --> 
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/tankleve.js' %}" defer></script>
    {% endblock %}
    {%block css%}
    {%endblock%}

</head>

<body data-sidebar="dark" >
{% block header %}
{% include 'partials/header.html' %}
{% endblock %}
<!-- SE REMOVIO LA BARRA LATERAL Y SE CAMBIO POR LA BARRA HORIZONTAL -->
{% block hori-sidebar %}
{% include 'partials/hori-sidebar.html' %}
{% endblock %}

{% comment %}
    <!-- SE REMOVIO LA BARRA LATERAL -->
    {% block sidebar %}
    {% include 'partials/sidebar.html' %}
    {% endblock %}
    {% block header %}
    {% include 'partials/hori-header.html' %}
    {% endblock %}
    {% block sidebar %}
    {% include 'partials/hori-sidebar.html' %}
    {% endblock %} 
{% endcomment %}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row" style="
                    margin-top: 0px;
                    height: 80px;">
                    <div class="col-12" style="
                        top: 40px;
                        height: 80px;">

                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 font-size-18">{{heading}}</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Nombre del Silo: {{pageview}}</a></li>
                                    <li class="breadcrumb-item active">{{heading}}</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                {% block contents %}
                {% endblock %}
            </div>
            <!-- end modal -->                     
        </div>
        <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->
    {% block Subscribe %}
    {% endblock %} 
    {% block r_sidebar %}
    {% endblock %}
    {% block footer %}
    {% endblock %}
    {% block javascript %}
    {% endblock %}
</body>

</html>