<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python\Python312\python.exe|C:\Python\Python312\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\agua_molino_3\django_project\skote" />
    <add key="WSGI_HANDLER" value="skote.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="skote.settings" />
  </appSettings>
</configuration>