{% load static %}
{% block header %}
        <header id="page-topbar" style="background-color:#5df505;"><!--COLOCADO por JG - style -->
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box">
                        <a href="{% url 'boquillas_app:boquillas_all' %}" class="logo logo-dark">
                            <span class="logo-sm">
                                <img src="{% static 'images/logo1_min.png' %}" alt="" height="17">
                            </span>
                            <span class="logo-lg">
                                <img src="{% static 'images/logo1_min.png' %}" alt="" height="22">
                            </span>
                        </a>

                        <a href="{% url 'boquillas_app:boquillas_all' %}" class="logo logo-light">
                            <span class="logo-sm">
                                <img src="{% static 'images/logo1_min.png' %}" alt="" height="22">
                            </span>
                            <span class="logo-lg">
                                <img src="{% static 'images/logo1_min.png' %}" alt="" height="50">
                            </span>
                        </a>
                    </div>

                    <!--
                    <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item waves-effect waves-light"
                        data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                        <i class="fa fa-fw fa-bars"></i>
                    </button>
                    -->
                </div>

                <div class="d-flex">
                    <!--
                    <div class="dropdown d-inline-block d-lg-none ml-2">

                        <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="mdi mdi-magnify"></i>
                        </button>

                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                            aria-labelledby="page-header-search-dropdown">

                            <form class="p-3">
                                <div class="form-group m-0">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search ..."
                                            aria-label="Search input">

                                        <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>s
                                    </div>
                                </div>
                            </form>
                        </div>                         
                    </div>

                    <div class="dropdown d-none d-lg-inline-block ml-1">
                        <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                            <i class="bx bx-fullscreen"></i>
                        </button>
                    </div>
                    -->
                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="rounded-circle header-profile-user" src="{% static 'images/users/Argos.jpg'%}"
                                alt="Header Avatar">
                            <span class="d-none d-xl-inline-block ms-1" key="t-henry" style="color:black;">{{user.username}}</span><!--COLOCADO por JG -color-->
                            <i class="mdi mdi-chevron-down d-none d-xl-inline-block" style="color:black;"></i><!--COLOCADO por JG - color-->
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a class="dropdown-item" href="#"><i class="bx bx-user font-size-16 align-middle me-1"></i> <span
                                    key="t-profile">Profile</span></a>
                        {% if user.is_authenticated %}
                        <a class="dropdown-item" href="{% url 'password_change' %}"><i class="bx bx-key font-size-16 align-middle me-1"></i> Change Password</a>
                        <a class="dropdown-item text-danger" href="{% url 'pages-logout' %}"><i class="bx bx-log-out font-size-16 align-middle me-1 text-danger"></i>Log Out</a>
                        {% else %}
                        <a class="dropdown-item" href="{% url 'pages-login' %}"><i class="bx bx-log-in font-size-16 align-middle me-1"></i> Log In</a>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}