{% extends 'partials/base.html' %}
{% load static %}

{% block css%}
{% include 'partials/css.html' %}
{% endblock %}
{% block extra_css %}
{% endblock %}
{% block contents %}
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
        
                                        <h4 class="card-title">Tabla de Operaciones Producidas</h4>
                                        <p class="card-title-desc">Reporte Por Turno (Kg)</p>
        
                                        <div class="table-responsive">
                                            <table class="table table-nowrap table-sm table-bordered table-hover table-striped">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th>Código</th>
                                                        <th>Materia Prima</th>
                                                        <th>Real (SP)</th>
                                                        <th>1 OP</th>
                                                        <th>2 OP</th>
                                                        <th>3 OP</th>
                                                        <th>4 OP</th>
                                                        <th>5 OP</th>
                                                        <th>6 OP</th>
                                                        <th>7 OP</th>
                                                        <th>8 OP</th>
                                                        <th>9 OP</th>
                                                        <th>10 OP</th>
                                                        <th>11 OP</th>
                                                        <th>12 OP</th>
                                                        <th>13 OP</th>
                                                        <th>14 OP</th>
                                                        <th>15 OP</th>
                                                        <th>16 OP</th>
                                                        <th>17 OP</th>
                                                        <th>18 OP</th>
                                                        <th>19 OP</th>
                                                        <th>20 OP</th>
                                                        <th>TOTAL KG / AVG</th>
                                                        <th>Edit</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for t in tabla %}
                                                    {% if t.codigo == "TOTALES" %}
                                                    <tr data-id={{t.codigo}} class="table-success">
                                                    {% else %}
                                                    <tr data-id={{t.codigo}}>
                                                    {% endif %}
                                                        <td data-field="id" style="width: 80px" align="left">{{t.codigo}}</td>
                                                        <td data-field="name" align="left">{{t.Nombre}}</td>
                                                        <td data-field="name" align="right">{{t.setpoint}}</td>
                                                        <td data-field="name" align="right">{{t.op1}}</td>
                                                        <td data-field="name" align="right">{{t.op2}}</td>
                                                        <td data-field="name" align="right">{{t.op3}}</td>
                                                        <td data-field="name" align="right">{{t.op4}}</td>
                                                        <td data-field="name" align="right">{{t.op5}}</td>
                                                        <td data-field="name" align="right">{{t.op6}}</td>
                                                        <td data-field="name" align="right">{{t.op7}}</td>
                                                        <td data-field="name" align="right">{{t.op8}}</td>
                                                        <td data-field="name" align="right">{{t.op9}}</td>
                                                        <td data-field="name" align="right">{{t.op10}}</td>
                                                        <td data-field="name" align="right">{{t.op11}}</td>
                                                        <td data-field="name" align="right">{{t.op12}}</td>
                                                        <td data-field="name" align="right">{{t.op13}}</td>
                                                        <td data-field="name" align="right">{{t.op14}}</td>
                                                        <td data-field="name" align="right">{{t.op15}}</td>
                                                        <td data-field="name" align="right">{{t.op16}}</td>
                                                        <td data-field="name" align="right">{{t.op17}}</td>
                                                        <td data-field="name" align="right">{{t.op18}}</td>
                                                        <td data-field="name" align="right">{{t.op19}}</td>
                                                        <td data-field="op20" align="right">{{t.op20}}</td>
                                                        <td data-field="total" align="right">{{t.total}}</td>
                                                        
                                                        {% if t.Editable %}
                                                        <!-- <td style="width: 100px">
                                                            <a class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                                                <i class="fas fa-pencil-alt"></i>
                                                            </a>
                                                        </td> -->
                                                        <td style="width: 100px">
                                                            <a class="clear button" href="{% url 'components_app:filas-editar' t.id %}"> Editar</a>
                                                        </td>
                                                        {% else %}
                                                        <td data-field="name"></td>
                                                        {% endif %}
                                                        
                                                        

                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                                </table>
                                        </div>
        
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                        <div class="col-sm-6">
                            <div class="text-end">
                                <a href="{% url 'components_app:orders-add' idlotetxt %}" class="btn btn-success mb-3">
                                    <i class="mdi mdi-truck-fast me-1"></i>Cierre de turno</a>
                            </div>
                        </div> <!-- end col -->
{% endblock %}
{% block r_sidebar %}
{% include 'partials/rightsidebar.html' %}
{% endblock %}
{% block footer %}
{% include 'partials/footer.html' %}
{% endblock %}
{% block javascript %}
        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>

         <!-- Table Editable plugin -->
         <script src="{% static 'libs/table-edits/build/table-edits.min.js' %}"></script>

        <script src="{% static 'js/pages/table-editable.int.js' %}"></script> 

        <script src="{% static 'js/app.js' %}"></script>


        <script src="{% static 'libs/select2/js/select2.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
        <script src="{% static 'libs/spectrum-colorpicker2/spectrum.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap-timepicker/js/bootstrap-timepicker.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap-maxlength/bootstrap-maxlength.min.js' %}"></script>
        <script src="{% static 'libs/@chenfengyuan/datepicker/datepicker.min.js' %}"></script>

        <!-- form advanced init -->
        <script src="{% static 'js/pages/form-advanced.init.js' %}"></script>


{% endblock %}