{% extends 'partials/base.html' %}
{% load static %}

{% block css%}
{% include 'partials/css.html' %}
{% endblock %}
{% block extra_css %}
<link href="{% static 'libs/ion-rangeslider/css/ion.rangeSlider.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block contents %}
<div class="row">
                            <div class="col-lg-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title mb-4">Filter</h4>

                                        <div>
                                            <h5 class="font-size-14 mb-3">Clothes</h5>
                                            <ul class="list-unstyled product-list">
                                                <li><a href="#"><i class="mdi mdi-chevron-right me-1"></i> Abrazaderas</a></li>
                                                <li><a href="#"><i class="mdi mdi-chevron-right me-1"></i> Filtros</a></li>
                                                <li><a href="#"><i class="mdi mdi-chevron-right me-1"></i> Mangueas</a></li>
                                                <li><a href="#"><i class="mdi mdi-chevron-right me-1"></i> Sellos</a></li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-lg-9">
                                    
                                <div class="row mb-3">
                                    <div class="col-xl-4 col-sm-6">
                                        <div class="mt-2">
                                            <h5>Repuestos</h5>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-sm-6">
                                        <form class="mt-4 mt-sm-0 float-sm-end d-flex align-items-center">
                                            <div class="search-box me-2">
                                                <div class="position-relative">
                                                    <input type="text" class="form-control border-0" placeholder="Search...">
                                                    <i class="bx bx-search-alt search-icon"></i>
                                                </div>
                                            </div>
                                            <ul class="nav nav-pills product-view-nav">
                                                <li class="nav-item">
                                                    <a class="nav-link active" href="#"><i class="bx bx-grid-alt"></i></a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#"><i class="bx bx-list-ul"></i></a>
                                                </li>
                                            </ul>
                                            
                                            
                                        </form>
                                    </div>
                                </div>
                                <div class="row">


                                    <div class="col-xl-4 col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="product-img position-relative">
                                                    <div class="avatar-sm product-ribbon">
                                                        <span class="avatar-title rounded-circle  bg-primary">
                                                            - 11 %
                                                        </span>
                                                    </div>
                                                    <img src="{% static 'images/product/95.jpg' %}" alt="" class="img-fluid mx-auto d-block">
                                                </div>
                                                <div class="mt-4 text-center">
                                                    <h5 class="mb-3 text-truncate"><a href="#" class="text-dark">PANTALLA TRANSP. LUNA VIDRIO S2 ELETTA</a></h5>
                                                    
                                                    <p class="text-muted">
                                                        <i class="bx bxs-star text-warning"></i>
                                                        <i class="bx bxs-star text-warning"></i>
                                                        <i class="bx bxs-star"></i>
                                                        <i class="bx bxs-star"></i>
                                                        <i class="bx bxs-star"></i>
                                                    </p>
                                                    <h5 class="my-0"><span class="text-muted me-2">Código</span> <b>95</b></h5>
                                                    <h5 class="my-0"><span class="text-muted me-2">Material</span> <b>PANTALLA TRANSP. LUNA VIDRIO S2 ELETTA</b></h5>
                                                    <h5 class="my-0"><span class="text-muted me-2">Descripción</span> <b>nan</b></h5>
                                                    <h5 class="my-0"><span class="text-muted me-2">Stock</span> <b>4.0</b></h5>
                                                    <h5 class="my-0"><span class="text-muted me-2">Unidades</span> <b>UN</b></h5>
                                                    <h5 class="my-0"><span class="text-muted me-2">Tipo de Material</span> <b>ARTICULOS GENERALES</b></h5>
                                                    <h5 class="my-0"><span class="text-muted me-2">Clasificación</span> <b>nan</b></h5>
                                                    <h5 class="my-0"><span class="text-muted me-2">Marca</span> <b>nan</b></h5>
                                                    <h5 class="my-0"><span class="text-muted me-2">Ubicación</span> <b>A007-E02</b></h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                <!-- end row -->

                                <div class="row">
                                    <div class="col-lg-12">
                                        <ul class="pagination pagination-rounded justify-content-center mt-3 mb-4 pb-1">
                                            <li class="page-item disabled">
                                                <a href="#" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                                            </li>
                                            <li class="page-item">
                                                <a href="#" class="page-link">1</a>
                                            </li>
                                            <li class="page-item active">
                                                <a href="#" class="page-link">2</a>
                                            </li>
                                            <li class="page-item">
                                                <a href="#" class="page-link">3</a>
                                            </li>
                                            <li class="page-item">
                                                <a href="#" class="page-link">4</a>
                                            </li>
                                            <li class="page-item">
                                                <a href="#" class="page-link">5</a>
                                            </li>
                                            <li class="page-item">
                                                <a href="#" class="page-link"><i class="mdi mdi-chevron-right"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
{% endblock %}
{% block r_sidebar %}
{% include 'partials/rightsidebar.html' %}
{% endblock %}
{% block footer %}
{% include 'partials/footer.html' %}
{% endblock %}
{% block javascript %}
        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>

        <!-- Ion Range Slider-->
        <script src="{% static 'libs/ion-rangeslider/js/ion.rangeSlider.min.js' %}"></script>

        <!-- init js -->
        <script src="{% static 'js/pages/product-filter-range.init.js' %}"></script>

        <!-- App js -->
        <script src="{% static 'js/app.js' %}"></script>
{% endblock %}
