{% extends "ecommerce/ecommerce-products-layout.html" %}
{% load static %}
{% block body %}

<div class="row">
    {% for i in tabla %}
        <!--Caja de Repuesto, Fotos, titulos materiales-->
        <div class="col-xl-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="product-img position-relative">
                        <!--Porcentaje de Descuento-->
                        <div class="avatar-sm product-ribbon">
                            <span class="avatar-title rounded-circle  bg-primary">
                                {{i.field_stock_total}}
                            </span>
                        </div>
                        <!--Imagen del Repuesto-->
                        <img src="{% static 'images/product/'%}{{i.material}}.jpg" alt="Sin Imagen" class="img-fluid mx-auto d-block">
                    </div>
                    <!--Bloque de Informacion del Repuesto-->
                    <div class="mt-4 text-center">

                        <h5 class="mb-3 text-truncate"><a href="id/{{i.id}}" class="cambioColor">{{i.texto_breve_de_material}}</a></h5>
                        <hr align="center" width="100%" size="5px" color="black">
                        <h5 class="my-0"><span class="text-muted me-2">Código</span> <b>{{i.material}}</b></h5>
                        <h5 class="my-0"><span class="text-muted me-2">Descripción</span> <b>{{i.texto_breve_de_material}}</b></h5>
                        <h5 class="my-0"><span class="text-muted me-2">Stock</span> <b>{{i.field_stock_total}}</b></h5>
                        <h5 class="my-0"><span class="text-muted me-2">Unidades</span> <b>{{i.umb}}</b></h5>
                    </div>
                    
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}