{% extends "base.html" %}
{% block title %}
Pagina de Recetas
{% endblock title %}
{% block content %}

{% load static %}
<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">LISTA DE TODAS LAS RECETAS</h1>       
        <form method="get" class="cell grid-x grid-margin-x">{% csrf_token %}
            <div class="cell large-7">
                <input type="text" name="kword" id="kword" placeholder=" Buscar receta">
            </div>
            <div class="cell large-2">
                <button type="submit" class="submit success button">Buscar</button>
            </div>
        </form>
        <div class="cell">
            <table>
                <thead>
                    <tr>
                        <th width="300">NOMBRE_RECETA</th>
                        <th width="300">DESCRIPCION</th>
                        <th width="200">CODIGO_SAP</th>
                        <!-- <th width="100">COLUM1</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for e in object_list %}
                    <tr>
                        <td>{{ e.name }}</td>
                        <td>{{ e.description}}</td>
                        <td>{{ e.code }}</td>
                        
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        <!-- <div class="cell">
            
            {% if is_paginated %}
            <nav aria-label="Pagination">
                <ul class="pagination text-center">
                    
                    {% if  page_obj.has_previous %}
                    <li class="pagination-previous">
                        <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous page">Previous</a>
                    </li>
                    {% endif %}
                    {% for pagina in paginator.page_range %}                    
                        {% if pagina == page_obj.number  %}
                        <li class="current"><span class="show-for-sr">You're on page</span>{{ pagina }}</li>
                        {% else %}
                        <li><a href="?page={{ pagina }}" aria-label="Page">{{ pagina }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="pagination-next">
                        <a href="?page={{ page_obj.next_page_number }}" aria-label="Next page">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
                

        </div> -->
    </div>  
</div>
{% endblock content %}