<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" 
      path="*" 
      verb="*" 
      modules="FastCgiModule" 
      scriptProcessor="C:\Python\Python312\python.exe|C:\Python\Python312\Lib\site-packages\wfastcgi.py" 
      resourceType="Unspecified" 
      requireAccess="Script"/>
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\django_project" />
    <add key="WSGI_HANDLER" value="django_project.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="django_project.settings" />
  </appSettings>
</configuration>