<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\django_project" />
    <add key="WSGI_HANDLER" value="django_project.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="django_project.settings" />
  </appSettings>
    <location path="" overrideMode="Deny">
        <system.webServer>
        </system.webServer>
    </location>
    <location path="" overrideMode="Allow">
        <system.webServer>
    <handlers accessPolicy="Read, Write, Execute, Script">
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="Q:\Anaconda3\python.exe|C:\Users\mantenimiento\AppData\Roaming\Python\Python38\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
        </system.webServer>
    </location>
</configuration>